.project-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    overflow-y: auto;
    margin-bottom: 75px;
  }

  .project-header {
    font-size: 2em;
    padding: .5em;
  }
  .carousel-root {
    max-width: 800px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
  }

  .temp {
    filter:blur(8px);
  }

  .project-link {
    padding-top: 150px;
  }


  